@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-900;
}

.pg-container-theme-0 {
    @apply text-black bg-white/30;
}

.pg-container-theme-1 {
    @apply text-black bg-yellow-300/30;
}

.pg-container-theme-2 {
    @apply text-black bg-emerald-400/30;
}

.pg-container-theme-3 {
    @apply text-black bg-purple-400/30;
}

.pg-container-theme-4 {
    @apply text-black bg-blue-400/30;
}

.pg-container-theme-5 {
    @apply bg-slate-700/30 text-white;
}

.pg-container-theme-5 .clock,
.progress-bar-base-theme-5 .clock {
    @apply text-gray-400;
}


.pg-bar-theme-0 {
    @apply bg-white;
}

.pg-bar-theme-1 {
    @apply bg-yellow-300;
}

.pg-bar-theme-2 {
    @apply bg-emerald-400;
}

.pg-bar-theme-3 {
    @apply bg-purple-400;
}

.pg-bar-theme-4 {
    @apply bg-blue-400;
}

.pg-bar-theme-5 {
    @apply bg-slate-700 text-white;
}

.progress-bar-base-theme-0 {
    @apply bg-gray-200;
}

.progress-bar-base-theme-1 {
    @apply bg-yellow-200;
}

.progress-bar-base-theme-2 {
    @apply bg-emerald-300;
}

.progress-bar-base-theme-3 {
    @apply bg-purple-300;
}

.progress-bar-base-theme-4 {
    @apply bg-blue-200;
}

.progress-bar-base-theme-5 {
    @apply bg-slate-800 text-white;
}

.progress-bar-theme-0 {
    @apply stroke-gray-500;
}

.progress-bar-theme-1 {
    @apply stroke-yellow-500;
}

.progress-bar-theme-2 {
    @apply stroke-emerald-600;
}

.progress-bar-theme-3 {
    @apply stroke-purple-600;
}

.progress-bar-theme-4 {
    @apply stroke-blue-500;
}

.progress-bar-theme-5 {
    @apply stroke-slate-400;
}

.progress-bar-percentage-theme-0 {
    @apply text-gray-500;
}

.progress-bar-percentage-theme-1 {
    @apply text-yellow-500;
}

.progress-bar-percentage-theme-2 {
    @apply text-emerald-600;
}

.progress-bar-percentage-theme-3 {
    @apply text-purple-600;
}

.progress-bar-percentage-theme-4 {
    @apply text-blue-500;
}

.progress-bar-percentage-theme-5 {
    @apply text-slate-400;
}

.outline-theme-0 {
    @apply outline outline-4 outline-gray-500;
}

.outline-theme-1 {
    @apply outline outline-4 outline-yellow-500;
}

.outline-theme-2 {
    @apply outline outline-4 outline-emerald-600;
}

.outline-theme-3 {
    @apply outline outline-4 outline-purple-600;
}

.outline-theme-4 {
    @apply outline outline-4 outline-blue-500;
}

.outline-theme-5 {
    @apply outline outline-4 outline-slate-400;
}

.text-input {
    @apply rounded-xl bg-slate-700 w-full p-2 text-lg text-gray-200 placeholder:text-gray-400 focus:outline-none placeholder:text-sm
}

input[type=number]::-webkit-outer-spin-button {
    display: none;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.pg-viewer-text-theme-0 {
    @apply text-gray-500;
}

.pg-viewer-text-theme-1 {
    @apply text-yellow-500;
}

.pg-viewer-text-theme-2 {
    @apply text-emerald-600;
}

.pg-viewer-text-theme-3 {
    @apply text-purple-600;
}

.pg-viewer-text-theme-4 {
    @apply text-blue-500;
}

.pg-viewer-text-theme-5 {
    @apply text-slate-400;
}

.pg-viewer-border-theme-0 {
    @apply border-gray-500;
}

.pg-viewer-border-theme-1 {
    @apply border-yellow-500;
}

.pg-viewer-border-theme-2 {
    @apply border-emerald-600;
}

.pg-viewer-border-theme-3 {
    @apply border-purple-600;
}

.pg-viewer-border-theme-4 {
    @apply border-blue-500;
}

.pg-viewer-border-theme-5 {
    @apply border-slate-400;
}



.pg-viewer-outline-theme-0 {
    @apply outline-gray-500;
}

.pg-viewer-outline-theme-1 {
    @apply outline-yellow-500;
}

.pg-viewer-outline-theme-2 {
    @apply outline-emerald-600;
}

.pg-viewer-outline-theme-3 {
    @apply outline-purple-600;
}

.pg-viewer-outline-theme-4 {
    @apply outline-blue-500;
}

.pg-viewer-outline-theme-5 {
    @apply outline-slate-400;
}

.pg-viewer-bg-theme-0 {
    @apply bg-gray-500;
}

.pg-viewer-bg-theme-1 {
    @apply bg-yellow-500;
}

.pg-viewer-bg-theme-2 {
    @apply bg-emerald-600;
}

.pg-viewer-bg-theme-3 {
    @apply bg-purple-600;
}

.pg-viewer-bg-theme-4 {
    @apply bg-blue-500;
}

.pg-viewer-bg-theme-5 {
    @apply bg-slate-400;
}

.pg-imp-0 {
    @apply bg-red-600 border-red-600;
}

.pg-imp-1 {
    @apply bg-red-400 border-red-400;
}

.pg-imp-2 {
    @apply bg-green-600 border-green-600;
}

.pg-imp-3 {
    @apply bg-blue-600 border-blue-600;
}

.pg-imp-border-0 {
    @apply text-red-600 border-red-600;
}

.pg-imp-border-1 {
    @apply text-red-400 border-red-400;
}

.pg-imp-border-2 {
    @apply text-green-600 border-green-600;
}

.pg-imp-border-3 {
    @apply text-blue-600 border-blue-600;
}


.notification-style-part0-1 {
    @apply bg-emerald-800 text-white;
}

.notification-style-part0-2 {
    @apply bg-red-900 text-white;
}

.notification-style-part0-3 {
    @apply bg-yellow-700 text-white;
}

.notification-style-part0-4 {
    @apply dark:bg-gray-800 bg-gray-400 dark:text-white text-gray-900;
}


.notification-style-1 {
    @apply bg-emerald-700 text-white;
}

.notification-style-2 {
    @apply bg-red-800 text-white;
}

.notification-style-3 {
    @apply bg-yellow-600 text-white;
}

.notification-style-4 {
    @apply dark:bg-gray-700 bg-gray-300 dark:text-white text-gray-600;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}