@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-900;
}

.pg-container-theme-0 {
    @apply text-black bg-white/30;
}

.pg-container-theme-1 {
    @apply text-black bg-yellow-300/30;
}

.pg-container-theme-2 {
    @apply text-black bg-emerald-400/30;
}

.pg-container-theme-3 {
    @apply text-black bg-purple-400/30;
}

.pg-container-theme-4 {
    @apply text-black bg-red-300/30;
}

.pg-container-theme-5 {
    @apply bg-slate-700/30 text-white;
}

.pg-container-theme-5 .clock {
    @apply text-gray-400;
}


.pg-bar-theme-0 {
    @apply bg-white;
}

.pg-bar-theme-1 {
    @apply bg-yellow-300;
}

.pg-bar-theme-2 {
    @apply bg-emerald-400;
}

.pg-bar-theme-3 {
    @apply bg-purple-400;
}

.pg-bar-theme-4 {
    @apply bg-red-300;
}

.pg-bar-theme-5 {
    @apply bg-slate-700;
}

.progress-title {

    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;

    /* Fallback for non-webkit, line-height * 2 */
    -webkit-line-clamp: 1;
    /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.progress-bar-base-theme-0 {
    @apply bg-gray-200;
}

.progress-bar-base-theme-1 {
    @apply bg-yellow-200;
}

.progress-bar-base-theme-2 {
    @apply bg-emerald-300;
}

.progress-bar-base-theme-3 {
    @apply bg-purple-300;
}

.progress-bar-base-theme-4 {
    @apply bg-red-200;
}

.progress-bar-base-theme-5 {
    @apply bg-slate-500;
}

.progress-bar-theme-0 {
    @apply stroke-gray-500;
}

.progress-bar-theme-1 {
    @apply stroke-yellow-500;
}

.progress-bar-theme-2 {
    @apply stroke-emerald-600;
}

.progress-bar-theme-3 {
    @apply stroke-purple-600;
}

.progress-bar-theme-4 {
    @apply stroke-red-500;
}

.progress-bar-theme-5 {
    @apply stroke-slate-800;
}

.progress-bar-percentage-theme-0 {
    @apply fill-gray-500;
}

.progress-bar-percentage-theme-1 {
    @apply fill-yellow-500;
}

.progress-bar-percentage-theme-2 {
    @apply fill-emerald-600;
}

.progress-bar-percentage-theme-3 {
    @apply fill-purple-600;
}

.progress-bar-percentage-theme-4 {
    @apply fill-red-500;
}

.progress-bar-percentage-theme-5 {
    @apply fill-slate-800;
}